<nav id="navigation">
  <a data-scroll class="hov-color-red" href="#home">Home</a>
  <a data-scroll class="hov-color-green" href="#green">About Us</a>
  <a data-scroll class="hov-color-blue" href="#blue">Services</a>
  <a data-scroll class="hov-color-blue" href="#blue">Work</a>
  <a data-scroll class="hov-color-blue" href="#blue">Contact Us</a>
</nav>

<section id="home" class="wide">
  <app-home></app-home>
</section>

<section id="green" class="wide">
  <h1>Green</h1>
</section>

<section id="blue" class="wide">
  <h1>Blue</h1>
</section>