
<!-- ====== Content Wrapper ======  -->
<div id="app" data-scroll-index="0">
    <!-- Logo Image for small devices -->
    <div class="small_device_logo">
            <img src="../assets/images/justasolution_logo.PNG" alt="Title 2">
        </div>
        <!-- ====== Navgition ======  -->
        <nav class="row">
            <div class="desktop_nav">
                <!-- Toggle button for small devices -->
                <div class="menu-tab">
                    <div id="one"></div>
                    <div id="two"></div>
                    <div id="three"></div>
                </div>
  
                <!-- Collect the nav links, and other content -->
                <div class="nav_container container nav_container_1">
  
                    <!-- logo for desktop -->
                    <div class="col-sm-4">
                        <img src="../assets/images/justasolution_logo.PNG" alt="Title 2">
                    </div>
  
                    <!-- links -->
                    <div class="col-sm-8">
                        <ul class="nav_wrapper">
                            <li class="nav_text how_works_scroll_btn">
                                <a data-scroll-nav="0">HOME</a>
                            </li>
                            <li class="nav_text for_users_scroll_btn">
                                <a data-scroll-nav="1">SERVICES</a>
                            </li>
                            <li class="nav_text pricing_scroll_btn">
                                <a data-scroll-nav="2">PROJECTS</a>
                            </li>
                            <li class="nav_text testimonial_scroll_btn">
                                <a data-scroll-nav="3">CLIENTS</a>
                            </li>
                            <li class="nav_text contact_scroll_btn">
                                <a data-scroll-nav="4">BLOG</a>
                            </li>
                            <li class="nav_text contact_scroll_btn">
                                <a data-scroll-nav="5">ABOUT</a>
                            </li>
                            <li class="nav_text contact_scroll_btn">
                                <a data-scroll-nav="6">CONTACT</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End of links -->
                </div>
            </div>
        </nav>
        <!-- ====== End of Navgition ======  -->
  
        <!-- ====== Header ======  -->
        <header id="home" class="header_bg">
            <!-- particles container -->
            <div id="particles-js">
                <div class="profile_wrapper">
                    <h2>Best Person for Your Web Pros & Cons</h2>
                    <h3>
                        <span class="write"></span>
                        <span class="typed-cursor">|</span>
                    </h3>
                    <div id="section10" class="demo">
                        <a id="button" data-scroll-nav="1"><span></span></a>
                    </div>
                </div>
            </div>
        </header>
        <!-- ====== End of Header ======  --> 
    

    <!-- ====== Services ======  -->
    <section id="seervices" class="what_i_do_section" data-scroll-index="1">
        <div class="container">
            <div class="service_area">
                <div class="service_heading">
                    <h3>Services</h3>
                </div>
                <div class="col-md-4">
                    <div class="service_wrapper">
                        <div class="service">
                            <i class="fa fa-paint-brush"></i>
                            <h4>WEB DESIGN</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        </div>
                        <div class="upper_layer_icon">
                            <i class="fa fa-paint-brush"></i>
                        </div>
                        <div class="upper_layer_heading">
                            <h4>WEB DESIGN</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service_wrapper">
                        <div class="service">
                            <i class="fa fa-code"></i>
                            <h4>WEB DEVELOPMENT</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        </div>
                        <div class="upper_layer_icon">
                            <i class="fa fa-code"></i>
                        </div>
                        <div class="upper_layer_heading">
                            <h4>WEB DEVELOPTMENT</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service_wrapper">
                        <div class="service">
                            <i class="fa fa-android"></i>
                            <h4>APP DEVELOPTMENT</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        </div>
                        <div class="upper_layer_icon">
                            <i class="fa fa-android"></i>
                        </div>
                        <div class="upper_layer_heading">
                            <h4>APP DEVELOPTMENT</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service_wrapper">
                        <div class="service">
                            <i class="fa fa-lock"></i>
                            <h4>WEB SECURITY</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        </div>
                        <div class="upper_layer_icon">
                            <i class="fa fa-lock"></i>
                        </div>
                        <div class="upper_layer_heading">
                            <h4>WEB SECURITY</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service_wrapper">
                        <div class="service">
                            <i class="fa fa-user"></i>
                            <h4>WEB ADMINISTRATION</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        </div>
                        <div class="upper_layer_icon">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="upper_layer_heading">
                            <h4>WEB ADMINISTRATION</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service_wrapper">
                        <div class="service">
                            <i class="fa fa-wordpress"></i>
                            <h4>PLUGIN DEVELOPMENT</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </p>
                        </div>
                        <div class="upper_layer_icon">
                            <i class="fa fa-wordpress"></i>
                        </div>
                        <div class="upper_layer_heading">
                            <h4>PLUGIN DEVELOPMENT</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ====== End of Services ======  -->

    <!--====== Numbers ======-->
    <div class="numbers text-center">
        <div class="numbers_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div data-wow-delay=".25s" class="item wow fadeInLeft">
                            <i class="fa fa-cubes"></i>
                            <h5 class="counter">3910</h5>
                            <h6 class="sm-title">Completed Service</h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div data-wow-delay=".1s" class="item wow fadeInLeft">
                            <i class="fa fa-thumbs-up"></i>
                            <h5 class="counter">3890</h5>
                            <h6 class="sm-title">Happy Clients</h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div data-wow-delay=".1s" class="item wow fadeInRight">
                            <i class="fa fa-trophy"></i>
                            <h5 class="counter">1735</h5>
                            <h6 class="sm-title">Complete Projects</h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div data-wow-delay=".25s" class="item wow fadeInRight">
                            <i class="fa fa-shopping-cart"></i>
                            <h5 class="counter">116</h5>
                            <h6 class="sm-title">Products </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== End Numbers ======-->

    <!--====== Projects ======-->
    <section id="projects" class="recent_works_section" data-scroll-index="2">
        <div class="row">
            <div class="portfolio_wrapper portfolio">
                <div class="portfolio_heading">
                    <h3>Latest Projects</h3>
                </div>
                <!-- filter links -->
                <div class="filtering text-center mb-50">
                    <span data-filter='*' class="active">All</span>
                    <span data-filter='.brand'>Design</span>
                    <span data-filter='.web'>Development</span>
                    <span data-filter='.graphic'>Plugins</span>
                </div>


                <div style="clear:both;"></div>
                <div class="gallery_conatainer gallery">
                    <div class="items img_wrapper graphic ">
                        <div class="center-this">
                            <a href="images/2.jpg" target="_blank">
                                        <img class="img1" src="images/2.jpg" alt="Image alter text.."/>
                                    </a>
                        </div>
                    </div>
                    <div class="items img_wrapper brand">
                        <div class="center-this">
                            <a href="images/4.jpg" target="_blank">
                                        <img class="img1" src="images/4.jpg" alt="Image alter text.."/>
                                    </a>
                        </div>
                    </div>
                    <div class="items img_wrapper graphic web">
                        <div class="center-this">
                            <a href="images/5.jpg" target="_blank">
                                        <img class="img1" src="images/5.jpg" alt="Image alter text.."/>
                                    </a>
                        </div>
                    </div>
                    <div class="items img_wrapper graphic brand">
                        <div class="center-this">
                            <a href="images/6.jpg" target="_blank">
                                        <img class="img1" src="images/6.jpg" alt="Image alter text.."/>
                                    </a>
                        </div>
                    </div>
                    <div class="items img_wrapper brand">
                        <div class="center-this">
                            <a href="images/1.jpg" target="_blank">
                                        <img class="img1" src="images/1.jpg" alt="Image alter text.."/>
                                    </a>
                        </div>
                    </div>
                    <div class="items img_wrapper web">
                        <div class="center-this">
                            <a href="images/3.jpg" target="_blank">
                                        <img class="img1" src="images/3.jpg" alt="Image alter text.."/>
                                    </a>
                        </div>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
    </section>


    <!--====== Testimonials ======-->
    <section id="clients" data-scroll-index="3" class="testimonials">
        <div class="container">
            <div class="testimonials_heading">
                <h3>Testimonials</h3>
            </div>
            <div class="features_cntainer">
                <div class="row">
                    <div class="">
                        <div class="col-sm-12 v2_carosel_wrapper">
                            <span></span>
                            <div class="owl-carousel v2_carosel v2_carosel_wt_auto owl-theme">
                                <div class="owl_div single_client">
                                    <div class="client_immg">
                                        <img src="images/client1.jpg" alt="Image Alter Text...">
                                    </div>
                                    <div class="clients_content">
                                        <h4>Poul Way</h4>
                                        <h5>CEO at Poul Shop</h5>
                                        <p>Swift communication and got the job done as expected. Will definitely be working with EM Adam in the future.</p>
                                    </div>
                                </div>
                                <div class="owl_div single_client">
                                    <div class="client_immg">
                                        <img src="images/client2.jpg" alt="Image Alter Text...">
                                    </div>
                                    <div class="clients_content">
                                        <h4>Christina Cole</h4>
                                        <h5>Togather Again Memory Beads</h5>
                                        <p>Fixed issues with ease and in the established timeframe. He was easy to work with and helped me make a terrific website in a short amount of time.</p>
                                    </div>
                                </div>
                                <div class="owl_div single_client">
                                    <div class="client_immg">
                                        <img src="images/client3.jpg" alt="Image Alter Text...">
                                    </div>
                                    <div class="clients_content">
                                        <h4>Dmitry B.</h4>
                                        <h5>Freelancer</h5>
                                        <p>Very talented freelancer. I will work with him again. great job, fast delivery.</p>
                                    </div>
                                </div>
                                <div class="owl_div single_client">
                                    <div class="client_immg">
                                        <img src="images/client4.jpg" alt="Image Alter Text...">
                                    </div>
                                    <div class="clients_content">
                                        <h4>Morn Doe</h4>
                                        <h5>CEO at Morn</h5>
                                        <p>Adam is a very talented PHP and Wordpress developer. His code is high quality, he's easy to work with & a tenacious problem solver. I look forward to working with him again!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== End of Testimonials ======-->

    <!--====== Hire ======-->
    <div class="hire section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
                    <div class="content text-center">
                        <h2>Let's work together !</h2>
                        <h6>I am available for freelance projects.</h6>
                        <a href="#">
                                <span class="botn" data-scroll-nav="6">
                                    Hire Me <i class="icon ion-ios-paperplane"></i>
                                </span>
                            </a>
                        <a href="#">
                                <span class="botn">Download C.V <i class="icon ion-android-download"></i></span>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End Hire ======-->

    <!--====== Blog ======-->
    <section id="blog" class="blog section-padding" data-scroll-index="4">
        <div class="container">
            <div class="section-head">
                <h3>Latest News</h3>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="item text-center wow fadeInUp" data-wow-delay=".15s">
                        <div class="img-post">
                            <a href="blog.html">
                                    <img src="images/1.jpg" alt="image">
                                </a>
                        </div>
                        <div class="cont-post">
                            <a href="#">
                                    <span class="tag">Trends</span>
                                </a>
                            <a href="blog.html">
                                <h6>Lorem ipsum dolor sit amet</h6>
                            </a>
                            <p>Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, incid idunt ut labore et.</p>
                            <a href="blog-single.html">
                                    <span class="botn">Read More..</span>
                                </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item text-center wow fadeInUp" data-wow-delay=".25s">
                        <div class="img-post">
                            <a href="blog.html">
                                    <img src="images/2.jpg" alt="image">
                                </a>
                        </div>
                        <div class="cont-post">
                            <a href="#">
                                    <span class="tag">Trends</span>
                                </a>
                            <a href="blog.html">
                                <h6>Lorem ipsum dolor sit amet</h6>
                            </a>
                            <p>Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, incid idunt ut labore et.</p>
                            <a href="blog-single.html">
                                    <span class="botn">Read More..</span>
                                </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item text-center wow fadeInUp" data-wow-delay=".35s">
                        <div class="img-post">
                            <a href="blog.html">
                                    <img src="images/6.jpg" alt="image">
                                </a>
                        </div>
                        <div class="cont-post">
                            <a href="#">
                                    <span class="tag">Trends</span>
                                </a>
                            <a href="blog.html">
                                <h6>Lorem ipsum dolor sit amet</h6>
                            </a>
                            <p>Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, incid idunt ut labore et.</p>
                            <a href="blog-single.html">
                                    <span class="botn">Read More..</span>
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== End Blog ======-->

    <!-- ====== About ======  -->
    <section id="about" class="hero section-padding" data-scroll-index="5">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="hero-img">
                        <img src="images/profile.jpg" alt="hero">
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="hero-content">
                        <h4 class="head-left">More Info About Me</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo Lorem
                            ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, ullamco laboris nisi ut aliquip ex ea commodo</p>

                        <div class="info">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <h5><span><i class="icon ion-person"></i></span>Sam Martin</h5>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <h5><span><i class="icon ion-calendar"></i></span>27 February 1990</h5>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <h5><span><i class="icon ion-location"></i></span>Los Angeles, USA</h5>
                                </div>

                                <div class="clear-fix"></div>

                            </div>
                        </div>
                        <div class="skill_set">
                            <div class="skill_single">
                                <p>HTML5</p>
                            </div>
                            <div class="skill_single">
                                <p>CSS3</p>
                            </div>
                            <div class="skill_single">
                                <p>JAVASCRIPT</p>
                            </div>
                            <div class="skill_single">
                                <p>JQUERY</p>
                            </div>
                            <div class="skill_single">
                                <p>VUEJS</p>
                            </div>
                            <div class="skill_single">
                                <p>REACTJS</p>
                            </div>
                            <div class="skill_single">
                                <p>ANGULARJS</p>
                            </div>
                            <div class="skill_single">
                                <p>PHP</p>
                            </div>
                            <div class="skill_single">
                                <p>LARAVEL</p>
                            </div>
                            <div class="skill_single">
                                <p>MYSQL</p>
                            </div>
                            <div class="skill_single">
                                <p>SEO</p>
                            </div>
                            <div class="skill_single">
                                <p>BOOTSTRAP</p>
                            </div>
                            <div class="skill_single">
                                <p>WORDPRESS</p>
                            </div>
                        </div>
                        <a href="#0" data-scroll-nav="7">
                                <span class="btn btn_hire" data-scroll-nav="6">Hire Me</span>
                            </a>
                    </div>
                </div>

                <div class="clear-fix"></div>

            </div>
        </div>
    </section>
    <!-- ====== End of About ======  -->

    <!--====== Contact ======-->
    <section id="contact" class="contact_us_section" data-scroll-index="6">
        <div class="contac_wrapper">
            <div class="container">
                <div class="row contact_heading">
                    <h1>Contact Me</h1>
                </div>
                <div class="contact_form_wrapper col-md-8">
                    <form method="post" action="#">
                        <span class="input_wrapper">
                                <span class="fa fa-user"></span>
                        <input type="text" id="name" name="name" placeholder="Your name..">
                        </span>
                        <span class="input_wrapper">
                                <span class="fa fa-envelope"></span>
                        <input type="email" id="email" name="email" placeholder="Your email..">
                        </span>
                        <span class="input_wrapper">
                                <span class="fa fa-tag"></span>
                        <input type="text" id="subject" name="subject" placeholder="Subjact">
                        </span>
                        <span class="input_wrapper">
                                <span class="fa fa-pencil"></span>
                        <textarea id="message" name="message" placeholder="Write something.."></textarea>
                        </span>
                        <button class="button_submit" type="submit" value="SEND IT NOW">Send It Now</button>
                    </form>
                </div>
                <div class="contact_right  col-md-4">
                    <div class="contact_via email_contact wow fadeInDown" data-wow-delay=".35s">
                        <i class="fa fa-envelope"></i>
                        <p>info@emadam.com</p>
                    </div>
                    <div class="contact_via phone_contact wow fadeInDown" data-wow-delay=".25s">
                        <i class="fa fa-phone"></i>
                        <p>0734 - 231 233</p>
                    </div>
                    <div class="contact_via address wow fadeInDown" data-wow-delay=".15s">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p>trtrt.<br>tewafsadfasdfas,</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== End of Contact ======-->

    <!--====== Footer ======-->
    <footer>
        <div class="social_links">
            <a href="#" class="fa fa-facebook wow fadeInLeft" data-wow-delay=".35s"></a>
            <a href="#" class="fa fa-twitter wow fadeInLeft" data-wow-delay=".25s"></a>
            <a href="#" class="fa fa-linkedin wow fadeInLeft" data-wow-delay=".15s"></a>
            <a href="#" class="fa fa-pinterest wow fadeInRight" data-wow-delay=".15s"></a>
            <a href="#" class="fa fa-github wow fadeInRight" data-wow-delay=".25s"></a>
            <a href="#" class="fa fa-stack-overflow wow fadeInRight" data-wow-delay=".35s"></a>
        </div>
        <div class="copy_right_section">
            Copyright © 2018 | Designed and Developed By <a href="#">Motahar Hossain</a>
        </div>
        <!-- Scroll Top Button -->
        <div class="scroll_top">
            <p class="scroll_top_btn" data-scroll-nav="0"><i class="fa fa-angle-up"></i></p>
        </div>
    </footer>
    <!--====== End of Footer ======-->

</div>
<!-- ====== End of Content Wrapper ======  -->